# local backup files
*.swp
*.swo

# Optional system-specific
.tags
.vscode/


# ============================
# Ignore rules for Neovim data folder
# ============================

neovim-data/
neovim-data/**
*.swp
*.swo


